.container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .section {
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 8px;

  }
  
  /* Lightest Blue */
  .whatIs {
    background-color: #e3f2fd; 
  }
  
  /* Light Blue */
  .whatYouGet {
    background-color: #bbdefb; 
  }
  
  /* Light Blue */
  .opportunity {
    background-color: #b3e5fc;
  }
  
  /* Slightly Darker Light Blue */
  .achievers {
    background-color: #90caf9;
  }
  
  /* Light Blue with a hint of Purple */
  .preRequisites {
    background-color: #b2dfdb;
  }
  
  /* Light Blue with a hint of Green */
  .howToApply {
    background-color: #b2ebf2;
  }
  
  .section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .section p, .section ul {
    font-size: 1em;
    line-height: 1.5;
  }
  
  .achieversList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .achiever {
    flex: 1 1 calc(50% - 20px);
    background-color: #ffffff; /* White background for achievers */
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
  }
  
  @media (max-width: 768px) {
    .achiever {
      flex: 1 1 100%;
    }
  }
  
  .applyButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .applyButton a {
    color: white;
    text-decoration: none;
  }
  
  .applyButton:hover {
    background-color: #0056b3;
  }
  